<div class="mb-6"><app-breadcrumb /></div>

<div class="mb-4 flex justify-end">
  <app-button *appHasPermission="['RECOMMENDATIONS', 'CREATE']" impact="bold" tone="primary"
    shape="rounded" size="medium" (buttonClick)="addNew()">
    + New Recommender
  </app-button>
</div>

<app-table
  [apiUrl]="apiUrl"
  [deleteUrl]="deleteUrl"
  [columns]="columns"
  [displayKeyMap]="displayKeyMap"
  [rowTransform]="rowTransform"
  [canEdit]="ps.canEdit('RECOMMENDATIONS')"
  [canDelete]="ps.canDelete('RECOMMENDATIONS')"
  [canImport]="false"
  [canExport]="false"
  (onEdit)="editSelected($event)"
  (onView)="viewSelected($event)" />
