<app-loading-bar></app-loading-bar>
<app-session-timeout-warning></app-session-timeout-warning>
<app-confirm-host></app-confirm-host>

@if (themeService.theme().menuStyle === 'sidebar') {
  <!-- Sidebar Layout -->
  <div class="flex h-screen w-full overflow-hidden">
    @if (menuService.pagesMenu.length > 0) {
      <app-sidebar></app-sidebar>
    }
    <div class="flex grow flex-col content-start overflow-hidden bg-card">
      <app-navbar></app-navbar>
      <div
        id="main-content"
        class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
        <div class="px-4 py-4 sm:px-8">
          <router-outlet></router-outlet>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
} @else {
  <!-- Header Layout -->
  <div class="flex h-screen w-full flex-col overflow-hidden">
    <app-navbar></app-navbar>
    @if (menuService.pagesMenu.length > 0) {
      <app-subheader></app-subheader>
    }
    <div
      id="main-content"
      class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto bg-card scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
      <div class="px-4 py-4 sm:px-8">
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
}
