<ng-container>
  <td class="text-center" (click)="$event.stopPropagation()">
    <input
      [(ngModel)]="user.selected"
      class="checkbox checkbox-sm"
      data-datatable-row-check="true"
      type="checkbox" />
  </td>
  @for (col of columns; track col.key) {
    @if (isVisible(col)) {
      <td>
        @if (col.type === 'badge' && col.badgeMap) {
          <span
            class="rounded-[30px] px-2.5 py-1 text-xs font-medium"
            [class]="getBadgeClass(col)">
            {{ getBadgeLabel(col) }}
          </span>
        } @else {
          {{ user[col.key] ?? '-' }}
        }
      </td>
    }
  }
</ng-container>
